{% extends "emails/base/base.html.twig" %}
{% block subject %}Tu nueva contraseña{% endblock %}
{% block body %}
    {{ parent() }}
    <p>Hola <strong>{{ username }}</strong>,</p>
    <p>
    <p>Hemos recibido una solicitud de cambio de contraseña para su cuenta de <strong>{{ project_name }}</strong>. Si usted ha solicitado un cambio de contraseña, haga clic en el siguiente enlace o copie y pegue en la barra de navegación.</p>
    <p>
        {{ url('change_password', { token: token }) }}
    </p>
    <p>
        En caso de que no haya solicitado la recuperación de la contraseña, haga clic en el siguiente enlace, o copie y pegue en la barra de navegación.
    </p>
    <p>
        {{ url('cancel_change_password', { token: token }) }}
    </p>
{% endblock %}