{% extends "emails/base/base.html.twig" %}
{% block subject %}[{{ project_name }}] Bienvenido a {{ project_name }} y activación de tu cuenta{% endblock %}
{% block body %}
    {{ parent() }}
    <p>Hola <strong>{{ username }}</strong>,</p>
    <p>
        Bienvenido a <strong>{{ project_name }}</strong>, es un verdadero placer para nuestro equipo que nos haya dado la oportunidad de probar nuestros servicios.
    </p>
    <p>
        Puedes activar tu cuenta usando este enlace:
    </p>
    <p>
        {{ url('activate_account', { activateToken: activateToken }) }}
    </p>
    <p>
        Queremos hacerle saber que somos un equipo joven, pero muy profesional con muchos años de experiencia y les ofrecemos los mejores servicios en Internet al mejor precio.
    </p>
    <p>
        Nuestro objetivo es ofrecer a su negocio el crecimiento que se merece, con la calidad que se merece y a un precio inmejorable.
    </p>
    <p>
        Estamos a su entera disposición para todo lo que pueda necesitar.
    </p>
    <p>
        Atentamente,
        Cristian Torrijos
    </p>
{% endblock %}