{% extends "base_template/universal-panel.html.twig" %}
{% block icon %}icon ion-ios-people{% endblock %}
{% block title %}Gestió d'usuaris{% endblock %}
{% block description %}Gestió d'usuaris{% endblock %}

{% block css %}
    <link href="{{ asset('css/admin/admin-users.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
    <script type="text/javascript"></script>
{% endblock %}

{% block mainBody %}
    <div class="card bd-primary mg-t-20">
        <div class="card-header bg-primary tx-white">Eliminar usuari <strong>{{ userDelete.getUsername }}</strong></div>
        <div class="card-body pd-sm-30">
            {{ form_start(form) }}
            Estás segur que vols eliminar l'usuari <strong>{{ userDelete.getUsername }}</strong>
            <div class="form-data-hidden">
                {{ form_row(form.isDeleted) }}
            </div>
            <div class="form-layout-footer mg-t-30">
                <button class="btn btn-danger mg-r-5">Eliminar usuari</button>
                <button class="btn btn-secondary">Cancel·lar</button>
            </div><!-- form-layout-footer -->
            {{ form_end(form) }}
        </div><!-- card-body -->
    </div>
{% endblock %}