{{ form_start(form) }}

    <input type="hidden" id="url_cambio_campo_temporada" value="{{ url('noticias_cambio_campo_temporada') }}">

    <div class="row">
        <div class="col-6">
            {{ form_row(form.usuario) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ form_row(form.titulo) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="">C贸digo HTML descripci贸n corta</label><br />
            <p style="margin-bottom: 50px;">{{ noticia.descripcionCorta }}</p>
            {{ form_row(form.descripcionCorta) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="">C贸digo HTML descripci贸n</label><br />
            <p style="margin-bottom: 50px;">{{ noticia.descripcion }}</p>
            {{ form_row(form.descripcion) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.fecha) }}
        </div>
        <div class="col-6">
            {{ form_row(form.temporada) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div id="contenedorCampoPartidos">
                {{ form_row(form.partido) }}
            </div>
        </div>
        <div class="col-6">
            <div id="contenedorCampoEquipos">
                {{ form_row(form.equipos) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.comunidad) }}
        </div>
        <div class="col-6">
            {{ form_row(form.division) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.estado) }}
        </div>
        <div class="col-6">
            {{ form_row(form.posicion) }}
        </div>
    </div>

<button style="margin-top: 200px; margin-bottom: 200px;" class="btn btn-success btn-block">{{ button_label|default('Guardar noticia') }}</button>
{{ form_end(form) }}


<script src="https://cdn.tiny.cloud/1/19zd7p7vtknhuabp6t9luepr21o7okuaowymhu163mtaelsk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">