{% extends "base_template/universal-panel.html.twig" %}
{% block title %}Administrar Noticias{% endblock %}

{% block mainBody %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            {# <th>Descripcion</th> #}
            <th>Fecha</th>
            {# <th>Estado</th> #}
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for noticia in noticias %}
            {% set color = '' %}
            <tr
                style="
                    {% if noticia.estado == -1 %}
                        background: #FF4E50;
                        {% set color = '#FFFFFF' %}
                    {% elseif noticia.estado == 0 %}
                        background: orange;
                        {% set color = '#333333' %}
                    {% elseif noticia.estado == 1 %}
                        background: #1D976C;
                        {% set color = '#FFFFFF' %}
                    {% endif %}
                "
            >
                <td style="color: {{ color }};">{{ noticia.id }}</td>
                <td style="color: {{ color }};">{{ noticia.titulo }}</td>
                {# <td>{{ noticia.descripcion }}</td> #}
                <td style="color: {{ color }};">{{ noticia.fecha ? noticia.fecha|date('d/m/Y H:i:s') : '' }}</td>
                {# <td>{{ noticia.estado }}</td> #}
                <td style="color: {{ color }};">
                    {#
                    <a href="{{ path('noticias_show', {'id': noticia.id}) }}">Ver</a>
                    |
                    #}
                    <a style="color: {{ color }};" href="{{ path('revisar_noticias', {'id': noticia.id}) }}">Revisar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se han encontrado noticias</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
