<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">

    <title>{{ project_name }} - Recordar contrase침a</title>

    <!-- Vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Shamcey CSS -->
    <link rel="stylesheet" href="../css/shamcey.css">
</head>

<body class="bg-gray-900">

<div class="signpanel-wrapper">
    <div class="signbox">
        <div class="signbox-header">
            <h2>{{ project_name }}</h2>
            <p class="mg-b-0">Recordar contrase침a</p>
        </div><!-- signbox-header -->
        <div class="signbox-body">

            {{ form_start(form) }}
                {{ message|raw }}

                <div class="form-group">
                    <label class="form-control-label" for="username">Usuario o email:</label>
                    <input type="text" id="user_forgot_password_username" name="user_forgot_password[username]" placeholder="Tu usuario o email" required="required" class="form-control" />
                </div><!-- form-group -->

                <button class="btn btn-success btn-block" type="submit">Recordar contrase침a</button>

                <div class="tx-center bg-white bd pd-10 mg-t-40"><a href="{{ path('login') }}">Iniciar sesi칩n</a></div>

                {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}


        </div><!-- signbox-body -->
    </div><!-- signbox -->
</div><!-- signpanel-wrapper -->

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/popper.js/popper.js"></script>
<script src="../lib/bootstrap/bootstrap.js"></script>

<script src="../js/shamcey.js"></script>
</body>
</html>
