{% if comunidad_id is not defined %}
    {% set comunidad_id = 1 %}
{% endif %}

{% set ultimosEventos = getUltimosEventosPreparados(comunidad_id) %}


{% if ultimosEventos|length > 0 %}
    <div id="ultimosEventos" class="contenedorBlancoBordesRedondeados col-12">
        <h4 class="titularSidebar">Información a la última</h4>

        {% for ultimoEvento in ultimosEventos %}

            <div class="cajaPartidoInformacionALaUltima{% if ultimoEvento.enJuevo %}cajaEnJuego{% endif %}">

                <div>
                        <span class="hora">
                            {{ ultimoEvento. momento[11:] }} ·
                        </span>
                    <span class="estado">
                            {{ ultimoEvento.titulo }}
                        </span>
                </div>

                <div class="contenedorNombreTorneo">
                    <a class="nombreTorneo" href="{{ ultimoEvento.url }}" target="blank">
                        {{ ultimoEvento.nombreTorneo }}
                    </a>
                </div>

                <div>
                    <span class="equiposPartido">{{ ultimoEvento.partido }}</span>
                    <span class="contenedorResultadoYEnlacePartido">
                        <span class="resultado">{{ ultimoEvento.resultado }}</span>
                        <a class="enlacePartido" href="{{ ultimoEvento.enlacePartido }}">
                            <img src="/static/img/enlace-partido.svg" alt="">
                        </a>
                    </span>
                </div>
                {#
                <div class="evento">
                    {{ ultimoEvento.eventoText }}
                </div>
                #}
                <div>
                    {% if ultimoEvento.evento == 3 or true %}
                        <a href="/arbitro.php?id={{ arbitro.0 }}" target="blank" style="color:orange">
                            <span class="iconhover glyphicon glyphicon-arrow-right"></span>
                        </a>
                    {% endif %}

                    {% if ultimoEvento.evento == 26 or true %}
                        <a href="/partidos-televisados" target="blank" style="color:#FA5882">
                            <span class="iconhover glyphicon glyphicon-arrow-right"></span>
                        </a>
                    {% endif %}
                </div>

            </div>

        {% endfor %}
    </div>
{% endif %}